* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selector */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.main-content img {
    border-radius: 50%;
}

.main-content p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: left;
}

aside.box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px; /* Reduced size */
}

aside.box img {
    width: 100%;
    height: auto;
}

aside {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul.box {
    list-style-type: disc;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px; /* Reduced size */
    margin: 20px auto;
    text-align: left;
}

ul.box li {
    margin: 10px 0;
}

ul.box li a {
    text-decoration: none;
    color: #007BFF;
}
.grid{
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}
